<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambiar Contraseña</title>
</head>
<body>
  <p class="mb-1">
    <a href="forgot-password.html">Recuperar contraseña</a>
  </p>
  <form id="changePasswordForm">
    <label for="currentPassword">Contraseña actual:</label>
    <input type="password" id="currentPassword" name="currentPassword" required><br>

    <label for="newPassword">Nueva contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required><br>

    <label for="confirmPassword">Confirmar contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>

    <button type="submit">Cambiar contraseña</button>
  </form>

  <script src="script.js"></script>
</body>
</html>
